@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Vujahday+Script&display=swap');

* {
    margin: 0;
    padding: 0
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 1px 1px #ccc;
}

nav .merry-christmas-div {
    font-family: 'Vujahday Script', cursive;
    font-size: 42px;
   
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #333;
    opacity: 0.9;
    color: #fff;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 75vh;
}

.main-div {
    display: block;
}

.main-div.hide {
    display: none;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw; 
    
}

.video-text.hide {
   display: none;
}



.hero-text {
    background: #fff;
    color: #ff004c;
    padding: 20px 50px;
    border-radius: 3px;
    transition: all 0.3s;
}

.hero-text h1 {
    font-family: 'Vujahday Script', cursive;
}

.hero-text:hover {
    cursor: pointer;
    padding: 25px 60px;
    transition: all 0.3s;
}

.show-message {
    margin-top: 200px;
    text-align: center;
    font-family: 'Vujahday Script', cursive;
}

.show-message.hide-message {
   display: none;
}

.show-message h1, p  {
    font-size: 85px;
}

.show-message p  {
    font-size: 55px;
    color: #ff004c;
}

.show-message a {
    text-decoration: none;
    font-size: 32px;
}

